.description-overlay,
.description-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.description-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}


.description-content {
    width: 900px;
    height: 682px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px #01243366;
}

.content {
    width: 800px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    margin-top: 20px;
}

.close-btn {
    text-align: center;
}

.close-btn:hover {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.close-btn:hover p {
    color: black;
    font-weight: 900;
}

.close-btn img {
    cursor: pointer;
}

.close-btn p {
    text-align: left;
    font: 700 8px Roboto;
    letter-spacing: 1px;
    color: #718FA2;
    margin: 0;
}

.director-container {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 80px;
    max-width: 650px;
}

.director-container p {
    font: medium 16px Roboto;
    color: #00BAFF;
    max-height: 50px;
}

.director-container div:nth-child(1) p {
    height: 50px;
    max-width: 250px;
}

.director-container div:nth-child(2) p {
    height: 50px;
    max-width: 450px;

}

.top-content,
.bottom-content {
    max-height: 500px;
}

.bottom-content {
    margin-top: -15px;
}

.top-content>p {
    width: 650px;


}

.line-container {
    margin-top: -15px;
    margin-bottom: 10px;
}