.description-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000 0% 0% no-repeat padding-box;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.description-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 748px;
    height: 682px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #01243366;
    opacity: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: black;
}

.close-btn:hover {
    flex-direction: row-reverse;
    gap: 5px
}

.close-btn:hover p {

    color: black;
    font-weight: 900;

}



.close-btn img {
    background: transparent url('../assets/close.svg') 0% 0% no-repeat padding-box;
    cursor: pointer
}


.close-btn p {
    text-align: left;
    font: normal normal normal 8px/16px Roboto;
    letter-spacing: 0.64px;
    color: #718FA2;
    opacity: 1;
    margin: 0 auto;
}

.director-container {
    display: flex;
    gap: 90px;
}

.director-container p {
    font: normal normal medium 16px/19px Roboto;
    letter-spacing: 0px;
    color: #00BAFF;
    opacity: 1;
}

h2 {
    position: relative;
    text-align: center;
    font: normal normal 300 32px/38px Roboto;
    letter-spacing: 0px;
    color: #164E78;
    opacity: 1;
}

span {
    content: "";
    position: absolute;
    width: 5%;
    margin-top: 55px;
    background: transparent url('../assets/line.svg') 0% 0% no-repeat padding-box;
    border: 1px solid #21B3CF;
    opacity: 1;
}


h3 {
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #78849EB9;
    opacity: 1;
    height: 10px;
}

p {
    text-align: left;
    font: normal normal medium 16px/19px Roboto;
    letter-spacing: 0px;
    color: #78849E;
    opacity: 1;
    font-weight: 600;
}

.full-content {
    margin-top: 30px;
}

.full-content>p {
    width: 650px;
}