/* Container for fetch button */
.fetch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetch-container button {
    background: #FFFFFF;
    border: 1px solid #78849E66;
    border-radius: 20px;
    font: 16px Roboto;
    letter-spacing: 0;
    color: #78849E;
    opacity: 1;
    padding: 8px 12px;
    transition: color 0.3s, font-weight 0.3s;
}

.fetch-container button:hover {
    color: #78849E;
    font-weight: 500;
}

.fetch-container button:focus {
    outline: none;
    border: 1px solid #78849E66;
}

.fetch-content {
    margin-bottom: 50px;
}