.fetch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetch-container button {
    background: #FFFFFF;
    border: 1px solid #78849E66;
    border-radius: 20px;
    font: 16px Roboto;
    letter-spacing: 0;
    color: #78849E;
    padding: 8px 12px;
}

.fetch-content {
    margin-bottom: 50px;
}