.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-bottom: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    position: relative;
    left: 20%;
    font: normal 24px Roboto;
    color: #386071;
    opacity: 1;
    cursor: pointer;
}