header {
    display: flex;
    align-items: end;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    height: 50px;

}

@media (max-width: 1366px) {
    .nav {
        width: 1366px;
    }
}