.table-container {
    width: 75%;
    margin: 0 auto;
}


.table-content {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;

}

.table-container p {
    height: 52px;
    opacity: 0.6;
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #536B7A;
    opacity: 1;
}


.table-content thead tr {
    font: normal normal bold 10px/20px Roboto;
    letter-spacing: 0px;
    color: #0B749B;
    opacity: 1;
    text-align: left;
    border-bottom: 1px solid #0B749B;


}

.table-content tbody tr {
    height: 52px;
    border-bottom: 1px solid #9AAEBB;
    opacity: 0.6;
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #536B7A;
    opacity: 1;
}

.table-container thead tr th:nth-child(1),
.table-container tbody tr td:nth-child(1) {
    width: 80px;
    text-align: center;
}