.table-container {
    position: relative;
    width: 938px;
    height: 557px;
    left: 214px;
    top: 46px;
    border: 1px solid black;
}   

.ranking {
    margin: 19px;
}

.container {
    border: 1px solid red;
}


